[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
dj-rest-auth = {extras = ["with_social"], version = "*"}
djoser = "*"
firebase-admin = "*"
channels = "*"
channels-redis = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
pcloud = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
